/* ejemplo  */
/* https://www.youtube.com/watch?v=wpUeLfkC2iE&ab_channel=OscarInsideWeb */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery-container{
    width: 80%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2, 300px);
}

.gallery-container .gallery-card{
    overflow: hidden;
}
.gallery-container .gallery-card a{
    width: 100%;
    height: 100%;
}
.gallery-container .gallery-card a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.gallery-container .gallery-card a > img:hover{
    transform: scale(1.5) rotate(30deg);
}